<md-content class="md-padding" layout="row" ng-init="service.isStudent()" ng-show="!loading">	
	<div layout="column" flex>
		<md-toolbar class="md-hue-2">
        <div flex class="md-toolbar-tools">
            <h4 class="md-title">
                 Küsimustikude nimistu:
            </h4>
        </div>
		</md-toolbar>
		<md-list>
			<md-list-item class="md-3-line" ng-repeat="item in questionnaires">
				<div class="md-list-item-text" layout="column">
					<h4 class="md-title" style="word-wrap: break-word">
							{{item.title}}
					</h4>
					<div class="itemPadding">
						<p>
							<md-icon class="material-icons">timer</md-icon>
							{{item.totalTime}}
							<md-icon class="material-icons">star_rate</md-icon>
							{{item.totalPoints}}
						</p>
						<p>
							<md-icon class="material-icons">date_range</md-icon>
							{{item.saved | date:'MM/dd/yyyy @ h:mm'}}
						</p>
						<md-divider></md-divider>
					</div>
				</div>				
				<md-button class="md-raised md-primary" ng-href="#/fill/{{item._id}}">Hakka täitma</md-button>
			</md-list-item>
		</md-list>
	</div>
</md-content>
