<md-content class="md-padding" layout="row" ng-init="service.isStudent()" ng-show="!loading" flex>
	<div layout="column" flex>
		<center><h2>Küsimustikud</h2></center>
		<md-list flex>
			<!--  (| orderBy: 'title'  ) kui see asi ng-repeati panna siis ta järjestab küsimustiku nime järgi, näiteks -->
			<md-list-item class="md-3-line" ng-repeat="item in questionnaires | orderBy: 'title'  track by $index" flex>
				<div class="md-list-item-text" layout="column" md-ink-ripple="#88C474" flex>
					<p>
						<b>{{item.title}}</b>
					</p>
					<div class="itemPadding" flex>
						<p>
							<md-icon class="material-icons">timer</md-icon>
							{{item.totalTime}}
							<md-icon class="material-icons">star_rate</md-icon>
							{{item.totalPoints}}
						</p>
						<p>
							<md-icon class="material-icons">date_range</md-icon>
							{{item.saved | date:'MM/dd/yyyy @ h:mm'}}
						</p>
						<md-divider></md-divider>
					</div>
				</div>
				<md-button class="md-raised md-accent" ng-click="seeResults($index)" ng-disabled="exists($index)" md-ink-ripple="#88C474">Tulemus</md-button>
				<md-button class="md-raised md-primary" ng-click="confirm(item._id)" md-ink-ripple="#88C474">Alusta</md-button>
			</md-list-item>
		</md-list>
	</div>
</md-content>
