<!-- <div class="Aligner">
    <div class="Aligner-item">
      <p>Siin saavad õpetajad koostada aine õppimise toetamiseks või teadmiste kontrollimiseks teste, õpilased saavad neid täita ning tulemuste põhjal valmivad statistilised kokkuvõtted.
</p>
    </div>
</div>
<div>
    <img src="img/back1.jpg" class="bg">
</div>
</md-content> -->
<div id="wrapper">
  <div id="hero">
    <div class="heade1r">
      <h1> # ÕPPEKESKKOND </h1>
    </div>
  </div>
  <div id="content1">
    <h2> Õppimine ongi kõige alus . . .</h2>
    <p> Siia paneme meriti targa jutu ! </p>
  </div>
  <div id="footer1">
    <p> Tehtud TLÜ suvepraktika raames 2016.</p>
  </div>
</div>
