<div layout-fill>
    <div layout="column" class="home-intro">
      <md-card layout-padding>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium fugiat fuga ipsam quod libero pariatur laboriosam veritatis dignissimos aliquid cupiditate autem vel magni, officia nobis amet, nulla, architecto quae.
          </p>
      </md-card>
      <md-card layout-padding>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium fugiat fuga ipsam quod libero pariatur laboriosam veritatis dignissimos aliquid cupiditate autem vel magni, officia nobis amet, nulla, architecto quae.
          </p>
      </md-card>
      <md-card layout-padding>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium fugiat fuga ipsam quod libero pariatur laboriosam veritatis dignissimos aliquid cupiditate autem vel magni, officia nobis amet, nulla, architecto quae.
          </p>
      </md-card>
      <md-card layout-padding>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ipsam sit amet nihil ab iste, minus explicabo deleniti culpa voluptatibus assumenda molestiae, nam excepturi asperiores quasi enim voluptates ipsa quia!Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Repellat quasi reprehenderit error maiores praesentium ab explicabo, cumque itaque ex, omnis officia voluptatem blanditiis incidunt qui, nesciunt ipsam doloribus, architecto sapiente.Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Dolores optio, accusantium veniam suscipit iusto, ipsum magni adipisci fugit omnis vero iure itaque repudiandae quam quidem cum placeat quod explicabo voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem
              laudantium fugiat fuga ipsam quod libero pariatur laboriosam veritatis dignissimos aliquid cupiditate autem vel magni, officia nobis amet, nulla, architecto quae.
          </p>
      </md-card>
    </div>

    <img src="img/logo.png" class="bg" alt="Taustapilt"></img>
</div>
