<md-content class="md-padding" layout="column">

  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Logi sisse</h2>
    </div>
  </md-toolbar>

  <md-content class="md-no-momentum">
    <form name="userForm">
      <md-input-container class="md-icon-float md-block">
        <label>Kasutajanimi (e-post)</label>
        <input name="username" type="email" ng-model="user.username" required minlength="2" maxlength="30" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="userForm.username.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Palun kontrolli, kas e-post on õigesti sisestatud
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Parool</label>
        <input required name="password" type="password" ng-model="user.password" minlength="4" maxlength="10">
        <div ng-messages="userForm.password.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Parool peab olema 4-10 tähemärki pikk
          </div>
        </div>
      </md-input-container>

      <md-button class="md-raised">Logi sisse</md-button>
    </form>

  </md-content>
