<md-content class="md-padding" layout="column">

  <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Logi sisse</h2>
        </div>
      </md-toolbar>

  <md-content class="md-no-momentum">
  <md-input-container class="md-icon-float md-block">
    <!-- Use floating label instead of placeholder -->
    <label>Nimi</label>
    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
    <input ng-model="user.name" type="text">
  </md-input-container>
  <md-input-container class="md-icon-float md-block">
    <label>Parool</label>
    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
    <input ng-model="user.name" type="text">
  </md-input-container>
  <md-button class="md-raised">Logi sisse</md-button>

  <br>
  <br/>

<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Loo kasutaja</h2>
      </div>
</md-toolbar>

<md-input-container class="md-icon-float md-block">
  <label>Nimi</label>
  <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
  <input ng-model="user.name" type="text">
</md-input-container>
<md-input-container class="md-icon-float md-block">
  <label>Telefoninumber</label>
  <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
  <input ng-model="user.name" type="text">
</md-input-container>

<md-input-container class="md-icon-float md-block">
  <label>E-post</label>
  <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
  <input ng-model="email.name" type="text">
</md-input-container>
<md-input-container class="md-icon-float md-block">
  <label>Klass</label>
  <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
  <input ng-model="email.name" type="text">
</md-input-container>
<md-input-container class="md-icon-float md-block">
  <label>Parool</label>
  <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
  <input ng-model="email.name" type="text">
</md-input-container>
<md-button class="md-raised">Loo kasutaja</md-button>
</md-content>
