<md-button class="md-fab" aria-label="Lisa uus">
	<md-icon md-svg-src="img/icons/ic_insert_drive_file_24px.svg" ng-click="create()"></md-icon>
		<md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
						Lisa uus!
		</md-tooltip>
</md-button>
<md-content class="md-padding" layout="row">
    <div layout="column" flex>
			<md-list>
				<md-subheader class="md-no-sticky"></md-subheader>
			        <md-list-item class="md-3-line" ng-repeat="item in questionnaires" ng-click="view(item)">
			          <div class="md-list-item-text" layout="column">
			            <span>
										 {{item.title}}
									</span>
									<span>
										{{item.createdDate}}
									</span>
									<span>
										{{item.totalTime}}
									</span>
									<span>
										{{item.totalPoints}}
									</span>
			          </div>
			        </md-list-item>
				<md-divider ></md-divider>
			</md-list>
		</div>
		<div layout="column" flex>
			<div ng-if="activeQuestionnaire.title">
				<md-input-container class="md-block" flex-gt-sm>
						<label>Pealkiri</label>
						<input ng-model="activeQuestionnaire.title">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
						<label>Täitmise aeg</label>
						<input ng-model="activeQuestionnaire.totalTime">
				</md-input-container>
				<label>Küsimused</label>
				<md-list-item class="secondary-button-padding" ng-repeat="x in activeQuestionnaire.questions track by $index">
						<div class="md-list-item-text">
								<span>{{x.title}}</span>
								<span>{{x.type}}</span>
								<span>{{x.maxPoints}}</span>
								<md-button class="md-warn" ng-click="remQuestion(x)">Kustuta</md-button>
						</div>
				</md-list-item>

			</div>
		</div>
</md-content>
