<md-content layout="row" ng-init="service.isTeacher()" ng-show="!loading">
	<div layout="column" style="min-width:480px">
		<center><h2>Küsimustikud</h2></center>
		<md-list layout-align="center center">
			<md-list-item ng-repeat="item in questionnaires track by $index" class="md-3-line" ng-click="view(item)" ng-class="{'active-effect' : currentIndex == $index}">
				<div class="md-list-item-text" layout="column" md-ink-ripple="#88C474">
					<p>
						<b>{{item.title}}</b>
					</p>
					<div class="itemPadding">
						<p>
							<md-icon class="material-icons">timer</md-icon>
							{{item.totalTime}}
							<md-icon class="material-icons">star_rate</md-icon>
							{{item.totalPoints}}
						</p>
						<p>
							<md-icon class="material-icons">date_range</md-icon>
							{{item.saved | date:'MM/dd/yyyy @ h:mm'}}
						</p>
						<md-divider></md-divider>
					</div>
				</div>
			</md-list-item>
		</md-list>
	</div>
	<div layout="row" flex layout-align="start start" ng-if="!loadingInner">
		<div ng-if="activeQuestionnaire.title">
			<md-card layout-padding>
				<center><h2>Küsimustiku haldus</h2></center>
				<div layout="row">
					<md-input-container flex>
						<label>Pealkiri</label>
						<input ng-model="activeQuestionnaire.title">
					</md-input-container>
					<md-input-container>
						<label>Aeg minutites</label>
						<input ng-model="activeQuestionnaire.totalTime" type="number" step="1" min="1" max="36000">
					</md-input-container>
				</div>
				<div layout="row">
					<div layout="column">
						<div class="md-block md-body-2">Loodud: {{activeQuestionnaire.createdDate | date:'MM/dd/yyyy @ h:mm'}}</div>
						<md-divider></md-divider>
						<div class="md-block md-body-2">Salvestatud: {{activeQuestionnaire.saved | date:'MM/dd/yyyy @ h:mm'}}</div>
					</div>
					<md-button class="md-raised md-primary" ng-disabled="isEditable" ng-click="update(activeQuestionnaire)">Muuda</md-button>
					<md-button class="md-raised md-warn" style="background-color: #C95D5D" ng-click="remove()">Kustuta</md-button>
				</div>
			</md-card>

			<md-card layout-padding>
				<center class="md-title">Küsimused</center>
				<br>
				<table class="no-table-border" width="100%">
					<tr ng-repeat="x in activeQuestionnaire.questions track by $index">
						<td class="no-table-border" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)" ng-class="{'active-effect' : currentQuestionIndex == $index}">
							<md-list-item ng-click="viewQuestion(x)" md-ink-ripple="#88C474">
								<div style="text-align:right" class="md-list-item-text">
									<span>{{x.title}}</span>
									<!-- <span>{{x.type}}</span> -->
									<span><md-icon class="material-icons">star_rate</md-icon>{{x.maxPoints}}</span>
								</div>
							<md-list-item>
						</td>
						<td class="no-table-border">
							<md-button ng-click="remQuestion(x)" class="md-icon-button md-secondary">
								<md-icon>close</md-icon>
							</md-button>
						</td>
					</tr>
				</table>
				<span class="md-body-2">Küsimustiku punktid kokku:{{activeQuestionnaire.totalPoints}}</span>
			</md-card>
		</div>
		<div ng-if="activeQuestion.title">
			<md-card layout-padding>
				<center><h2>Küsimuse haldus</h2></center>
				<div layout="row">
					<md-input-container flex>
						<label>Küsimus</label>
						<input ng-model="activeQuestion.title">
					</md-input-container>
					<md-input-container>
						<label>Tüüp</label>
						<md-select ng-model="activeQuestion.type" ng-change="clear(activeQuestion)">
							<md-option>
								Valik
							</md-option>
							<md-option>
								Tühi lünk
							</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout="row">
					<div ng-if="activeQuestion.type=='Valik'">
						<div ng-if="activeQuestion.variants.length > 0">
							<center class="md-headline">Vastuse variandid</center>
							<md-divider></md-divider>
							<table style="width:100%">
								<tr>
									<th>Variant</th>
									<th>Punktid</th>
									<th>Kustuta</th>
								</tr>
								<tr ng-repeat="y in activeQuestion.variants track by $index" ng-if="y.bool" bgcolor="#88C474">
									<td>{{y.answer}}</td>
									<td>{{y.points}}</td>
									<td>
										<md-button class="md-icon-button md-secondary" ng-click="remVariant(activeQuestion, y)">
											<md-icon class="material-icons">close</md-icon>
										</md-button>
									</td>
								</tr>
								<tr ng-repeat="y in activeQuestion.variants track by $index" ng-if="!y.bool" bgcolor="#C95D5D">
									<td>{{y.answer}}</td>
									<td>{{y.points}}</td>
									<td>
										<md-button class="md-icon-button md-secondary" ng-click="remVariant(activeQuestion, y)">
											<md-icon class="material-icons">close</md-icon>
										</md-button>
									</td>
								</tr>
							</table>
						</div>
						<md-input-container flex>
							<label>Vastus</label>
							<input ng-model="variant.answer">
						</md-input-container>
						<md-input-container>
							<label>Punktid</label>
							<input ng-model="variant.points" ng-init="variant.points=0" type="number" step="1" min="0" max="100">
						</md-input-container>
						<md-checkbox class="green" ng-model="variant.bool" aria-label="Õige/Vale" ng-init="variant.bool=true"></md-checkbox>
						<md-button class="md-raised md-accent" ng-disabled="!(variant.answer && variant.points >= 0 && variant.points <= 100)" ng-click="addVariant(activeQuestion, variant)">Lisa vastus</md-button>
					</div>
					<div ng-if="activeQuestion.type=='Tühi lünk'" layout="row" flex>
						<md-input-container flex>
							<label>Vastus</label>
							<input ng-model="activeQuestion.variants">
						</md-input-container>
						<md-input-container>
							<label>Punktid</label>
							<input ng-model="activeQuestion.maxPoints" ng-init="question.maxPoints=0" type="number" step="1" min="0" max="100">
						</md-input-container>
					</div>
				</div>
				<div layout="row" layout-align="center center">
					<md-button class="md-raised md-primary" ng-disabled="!(activeQuestion.type && activeQuestion.variants.length > 0 && activeQuestion.title && activeQuestion.maxPoints)" ng-click="editQuestion(activeQuestion)">Muuda</md-button>
					<md-button class="md-raised md-accent" ng-disabled="!(activeQuestion.type && activeQuestion.variants.length > 0 && activeQuestion.title && activeQuestion.maxPoints)" ng-click="addQuestion(activeQuestion)">Lisa küsimus</md-button>
					<span class="md-body-2">Max punktid: {{activeQuestion.maxPoints}}</span>
				</div>
			</md-card>
		</div>
	</div>
	<div layout="row" flex layout-align="center center" ng-if="loadingInner">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>

	<md-button  class="md-fab" ng-click="create()" aria-label="Lisa uus küsimustik" style="position: fixed; bottom: 24px; right: 24px; background-color:#88C474" >
		<md-tooltip>
			Lisa uus küsimustik
		</md-tooltip>
		<md-icon class="material-icons">add</md-icon>
	</md-button>
</md-content>
