<md-content layout="column" flex>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2 flex>Loo kasutaja</h2>
            <md-button ng-click="close()" class="md-icon-button md-secondary" aria-label="Close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <h2>{{alert}}</h2>
        <form name="userForm" layout-padding>
            <md-input-container class="md-block">
                <md-icon class="md-primary material-icons">mail</md-icon>
                <label>E-post (kasutajanimi)</label>
                <input required name="username" type="email" ng-model="user.username" required minlength="2" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="userForm.username.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Mailiaadressi kuju ei ole õige
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Vali endale parool</label>
                  <md-icon class="md-primary material-icons">lock</md-icon>
                <input required name="password" type="password" ng-model="user.password" required minlength="4" maxlength="10">
                <div ng-messages="userForm.password.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                        Parool peab olema 4-10 tähemärki pikk
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Nimi</label>
                <md-icon class="md-primary material-icons">person</md-icon>
                <input name="name" ng-model="user.name" type="text" required minlength="2">
                <div ng-messages="userForm.name.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Palun sisesta nimi.
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Telefoninumber</label>
                <md-icon class="md-primary material-icons">phone</md-icon>
                <input name="phone" ng-model="user.phone" required ng-pattern="/[0-9]$/">
                <div ng-messages="userForm.phone.$error" role="alert" multiple>
                    <div ng-message="required">Lisa telefoni number</div>
                    <div ng-message="pattern">Peab olema numbri kujul!
                    </div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button ng-disabled="!(user.username && user.password && user.phone && user.name)" ng-click="register(user)" class="md-raised md-primary">Registreeri</md-button>
            </div>
        </form>
    </md-content>
</md-content>
