<md-content class="md-padding" layout="column">

  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Loo kasutaja</h2>
    </div>
  </md-toolbar>

  <md-content class="md-no-momentum">
    <h2>{{alert}}</h2>
    <form name="userForm">
      <md-input-container class="md-icon-float md-block">
        <label>Nimi</label>
        <input name="name" ng-model="user.name" type="text" required minlength="2">
        <div ng-messages="userForm.name.$error" role="alert">
          <div ng-message-exp="['required']">
            Palun sisesta nimi.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Telefoninumber</label>
        <input name="phone" ng-model="user.phone" required ng-pattern="/[0-9]$/">
        <div ng-messages="userForm.phone.$error" role="alert" multiple>
              <div ng-message="required">Lisa telefoni number</div>
              <div ng-message="pattern">Peab olema numbri kujul!
              </div>
            </div>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>E-post (kasutajanimi)</label>
        <input required name="username" type="email" ng-model="user.username" required minlength="2" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="userForm.username.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Mailiaadressi kuju ei ole õige
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Vali endale parool</label>
        <input required name="password" type="password" ng-model="user.password" required minlength="4" maxlength="10">
        <div ng-messages="userForm.password.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Parool peab olema 4-10 tähemärki pikk
          </div>
        </div>
      </md-input-container>
      <md-button ng-click="signup(user)" class="md-raised">Loo kasutaja</md-button>
    </form>
  </md-content>
