<md-content layout="row" ng-init="service.isTeacher()" ng-show="!loading1 && !loading2 && !loading3" flex>
	<div layout="column" style="min-width:480px">
		<center>
			<h2>Küsimustikud</h2>
		</center>
		<md-list>
			<md-list-item md-ink-ripple="#88C474" ng-repeat="item in questionnaires track by $index" ng-click="view($index)" ng-class="{'active-effect' : currentIndex == $index}">
				<div layout="column">
					<span>
						<b>{{item.title}}</b>
					</span>
					<span>
						<md-icon class="material-icons">timer</md-icon>
						{{item.totalTime}}
						<md-icon class="material-icons">star_rate</md-icon>
						{{item.totalPoints}}
					</span>
					<span>
						<md-icon class="material-icons">date_range</md-icon>
						{{item.saved | date:'MM/dd/yyyy @ h:mm'}}
					</span>
				</div>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>
	</div>
	<div layout="column" ng-if="show" flex="60">
			<highchart id="UserPoints" config="chartUserPoints"></highchart>
			<highchart id="UserTime" config="chartUserTime"></highchart>
			<highchart id="QuestionTime" config="chartQuestionTime"></highchart>
	</div>

</md-content>
<md-content layout="row" style="padding: 25% 50%" ng-if="loading1 || loading2 || loading3">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</md-content>
