/**
 * Hide when Angular is not yet loaded and initialized
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
table, th, td {
    border: 1px solid #37474F;
    border-collapse: collapse;
    text-align: center;
}
.loginbtn {
    color: rgb(255, 255, 255);
    background-color: rgb(136, 196, 116);
}
.registerbtn {
    color: rgb(255, 255, 255);
    background-color: rgb(201, 93, 93);
}
.logoutbtn {
    color: rgb(255, 255, 255);
    background-color: rgb(201, 93, 93);
}

img.bg {
  /* Set rules to fill background */
  min-height: 50%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 50%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: -128px;
}

.home-intro {
  width: 50%;
  min-height: 100%;
  float: right;
}
.home-intro md-card {
  z-index: 2;
}
.no-table-border {
  border: none;
}

.active-effect {
  background-color: #607D8B;
  color: white;
}
.active-effect md-icon {
  color: white;
}

.hall {
  background-color: #E1E1E1;
}
.questionnaire-fill-list {
  padding: 0 15px;
}
.center-align {
  padding: 25% 25%;
}
